PORT=3001
FRONTEND_URL=http://localhost:5173
WG_INTERFACE=wg0
WG_SERVER_ENDPOINT=YOUR_PUBLIC_IP
WG_SERVER_PORT=51820
WG_SERVER_PUBLIC_KEY=YOUR_SERVER_PUBLIC_KEY
WG_SUBNET=10.0.0
WG_DNS=1.1.1.1
DEMO_MODE=true
ENABLE_COMMAND_CENTER=true
